.navbar {
  align-items: center;
  background-color: #060516;
  border-bottom: #6A41A1 solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 50px;
  position: relative;
}

.navbar__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 1200px;
}

.navbar__logo {
  color: #FFF;
  padding: 0 10px;
}

.navbar__search {
  color: #FFF;
  display: flex;
  position: relative;
}

.navbar__search form {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

.navbar__search-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #6A41A1;
  box-sizing: border-box;
  color: #FFF;
  margin: 0;
  padding: 10px;
  width: 200px;

  &:focus {
    outline: none;
  }
}

.navbar__items {
  align-items: flex-start;
  color: #FFF;
  display: flex;
}

.navbar__items-box {
  color: #FFF;
  cursor: pointer;
  margin: 0 10px;
}

.navbar__container-menu-avatar {
  display: flex;
  margin-top: 40px;
  position: absolute;
  width: 1000px;
  z-index: 1;
}

.navbar__container-add-post {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: fixed;
  width: 1000px;
  z-index: 2;
}

.navbar__menu-avatar {
  background-color: #FFF;
  border-radius: 10px;
  color: #656565;
  height: 150px;
  width: 220px;
}

.navbar__menu-avatar-items {
  align-items: center;
  border-bottom: 1px solid #656565;
  color: #656565;
  cursor: pointer;
  display: flex;
  padding: 10px 10px;
  text-decoration: none;
}

.navbar__add-post {
  align-items: center;
  background-color: rgba($color: #000, $alpha: 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.navbar__add-post-card {
  background-color: #211159 ;
  border-radius: 10px;
  height: 400px;
  padding: 20px;
  width: 600px;
}

.container-add-post {
  color: #FFF;
  display: flex;
  flex-direction: column;

  input {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 20px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.navbar__add-post-close {
  color: #FFF;
  display: flex;
}

.closeicon {
  cursor: pointer;
}
